<!-- Входящий контекст objects_acts -->
<!--Входящий контент - форма поиска-->
{% extends 'base.html' %}
{% block mycontent %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center pt-2">
            <div>
                <h5>Наборы актов скрытых работ</h5>
            </div>
            <div>
                <form action="{% url 'objects_list_url' %}" method="post">
                    {% csrf_token %}
                    {{ search_form.search_object }}
                    <button class="align-self-center btn btn-primary py-0 my-2 mr-2" type="submit">Найти</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
    {% for obj in objects_acts %}
        <div class="card my-1">
          <div class="card-header py-0 text-truncate">
              [{{ obj.create_date|date:"d.m.y" }}] <b>Объект</b> {{ obj.address }} <b>Кап. ремонт </b> {{ obj.system_type }} <b>Подрядчик</b> {{ obj.get_short_contractor }}
          </div>
          <div class="card-body py-0">
            <a href="{{ obj.get_absolute_url }}" class="btn btn-primary  my-1 py-0">Смотреть</a>
            <a href="{% url 'object_table_url' obj.pk %}" class="btn btn-primary  my-1 py-0">Таблица</a>
            <a href="{% url 'new_object_edit' obj.pk %}" class="btn btn-primary  my-1 py-0">Редактировать</a>
            <a href="{% url 'make_word_file' obj.pk %}" class="btn btn-primary my-1 py-0">Получить акты</a>
            <a href="{% url 'make_cert_file' obj.pk %}" class="btn btn-primary my-1 py-0">Получить сертификаты</a>
            <a href="{% url 'copy_object' obj.pk %}" class="btn btn-primary  my-1 py-0">Создать копию объекта</a>
            <a href="{% url 'delete_object' obj.pk %}" class="btn btn-primary  my-1 py-0 del_btn">Удалить объект</a>
          </div>
        </div>
    {% endfor %}
    </div>

    <nav>
        <ul class="pagination justify-content-center mt-4">
            {% if objects_acts.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ objects_acts.previous_page_number }}" tabindex="-1" aria-disabled="false">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item disabled"><a class="page-link" href="">1</a></li>
            {% endif %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="">{{ objects_acts.number }} <span class="sr-only">(current)</span></a>
            </li>
            {% if objects_acts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ objects_acts.paginator.num_pages }}">{{ objects_acts.paginator.num_pages }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ objects_acts.next_page_number }}" aria-disabled="false">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link " href="">{{ objects_acts.paginator.num_pages }}</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-disabled="true">Next</a>
                </li>

            {% endif %}
        </ul>
    </nav>

{% endblock %}

{% block my_java_script %}
    <script>
        //определяем функции для кнопки удалить карточку
        let allDelButtons = document.querySelectorAll ('.del_btn');
        Array.from(allDelButtons).map (function (item) {
            item.addEventListener('click', DeleteHidAct);
        });

        function DeleteHidAct (event) {
            if (!confirm ("Точно удалить акт?")) {
                event.preventDefault();
            }
        }
    </script>
{% endblock %}
