{% extends 'base.html' %}
{% load static %}
{% block mycontent %}
    <input type="hidden" id="object_id" value="{{ object_id }}">
    {% csrf_token %}
    <div class="container-fluid mx-1" x-data="formManager()">

        <div class="mt-3">
            <!-- Сообщение об ошибке -->
            <div class="alert alert-danger" x-cloak x-show="error" x-text="error"></div>
            <!-- Сообщение об успешной отправке -->
            <div class="alert alert-success" x-cloak x-show="success" x-text="success"></div>
            <!-- Сообщение о процессе загрузки -->
            <div class="alert alert-primary" x-cloak x-show="loading">Загрузка...</div>
        </div>

        <h5> Редактирование </h5>
        <!-- Кнопки быстрого изменения -->
        <div class="card mb-1" x-data="{newDate: ''}">
            <div class="card-body">
                <div class="card-title">
                    <span class="font-weight-bold">Пакетное изменение дат</span>
                </div>
                <div class="row">
                    <div class="col-2 pe-1">
                        <input type="text" class="form-control form-control-sm" x-model="newDate">
                    </div>
                    <div class="col ps-1">
                        <button class="btn btn-primary py-0 me-1"
                                @click="changeActsDate(newDate, 'act')">Изм. Даты Акта</button>
                        <button class="btn btn-primary py-0 me-1"
                                @click="changeActsDate(newDate, 'begin')">Изм. Даты Начала</button>
                        <button class="btn btn-primary py-0 me-1"
                                @click="changeActsDate(newDate, 'end')">Изм. Даты Конца</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Кнопки сохранения -->
        <div class="inline">
            <button class="btn btn-primary my-1 py-0" @click="sendResults()">Сохранить изменения</button>
            <a href="{% url 'object_detail_url' object_id %}" class="btn btn-primary  my-1 py-0">Вернуться в структуру</a>
            <a href="{% url 'objects_list_url' %}" class="btn btn-primary my-1 py-0">Вернуться в список</a>
        </div>

        <!-- Начало формы по объекту -->
        {% include "hiddenactsbase/partials/upper_object_form.html" %}

        <!-- акты скрытых -->
        <!-- Если актов скрытых нет, то единственная кнопка вставки акта -->
        <div class="card p-1 mb-1 ha-card" x-cloak x-show="acts.length == 0">
            <button class="btn btn-primary py-0 me-1"
                    @click="insertActDown(0)">Вставить акт скрытых</button>
        </div>
        <template x-for="(act, index) in acts" :key="index">
            <div class="card p-1 mb-1 ha-card">
                <div class="row mb-1">
                    <div class="col-sm-2 col-form-label-sm">Ном. Акта</div>
                    <div class="col-sm-1 col-form-label-sm" >
                        <div x-text="`${my_object.acts_prefix}-`" class="text-end"></div>
                    </div>
                    <div class="col-sm-1" >
                        <input type="text" class="form-control form-control-sm" x-model="act.act_number">
                    </div>
                    <div class="col-sm-2">
                        <button type="button"
                                class="btn btn-primary my-0 py-0 px-1" tabindex="-1"
                                @click="insertActUp(index)">
                            <i class="fas fa-plus"></i>
                            <i class="fas fa-angle-double-up"></i>
                        </button>
                        <button type="button"
                                class="btn btn-primary my-0 py-0 px-1" tabindex="-1"
                                @click="insertActDown(index)">
                            <i class="fas fa-plus"></i>
                            <i class="fas fa-angle-double-down"></i>
                        </button>
                        <button type="button"
                                class="btn btn-primary my-0 py-0 px-1" tabindex="-1"
                                @click="deleteAct(index)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-primary my-0 py-0 px-1"
                                tabindex="-1"
                                @click="swapActs(index)">
                            <i class="fas fa-retweet"></i>
                            <i class="fas fa-angle-double-down"></i>
                        </button>
                    </div>
                    <div class="col-sm-2 col-form-label-sm">Дата Акта</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" x-model="act.act_date">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2 col-form-label-sm">От:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" x-model="act.begin_date">
                    </div>
                    <div class="col-sm-2 col-form-label-sm">До:</div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" x-model="act.end_date">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2 col-form-label-sm">Предъявл.</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" x-model="act.presented_work">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2 col-form-label-sm">Разрешено</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" x-model="act.permitted_work">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2 col-form-label-sm">Материалы</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" x-model="act.materials">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2 col-form-label-sm">СНИП:</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" x-model="act.work_SNIP">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2 col-form-label-sm">Предьявлены документы</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" x-model="act.docs">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2 col-form-label-sm">Приложения</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" x-model="act.annex">
                    </div>
                </div>
                <div class="row mb-1 cert-card align-items-center" style="cursor: pointer"
                     @click="showAndInitModal(act)">
                    <div class="col-sm-2 col-form-label-sm">Сертификаты</div>
                    <div class="col-sm-10 mb-1">
                        <template x-for="cert in act.certificates">
                            <div class="badge rounded-pill text-bg-secondary me-1" x-text="cert.description"></div>
                        </template>
                    </div>
                </div>
            </div>
        </template>

        <!-- Низ формы - дополнительные акты -->
        {% include "hiddenactsbase/partials/additional_acts_form.html" %}

        <!-- Кнопки сохранения -->
        <div class="inline">
            <button class="btn btn-primary my-1 py-0" @click="sendResults()">Сохранить изменения</button>
            <a href="{% url 'object_detail_url' object_id %}" class="btn btn-primary  my-1 py-0">Вернуться в структуру</a>
            <a href="{% url 'objects_list_url' %}" class="btn btn-primary my-1 py-0">Вернуться в список</a>
        </div>

        <!-- модальное окно -->
        <div class="modal" :class="showModal ? 'd-block' : ''">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Выберите сертификат</h5>
                        <button class="btn-close" @click="showModal = false"></button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <template x-for="cert in all_certs" :key="cert.id">
                            <div class="form-check">
                                <input type="checkbox"
                                       class="form-check-input"
                                       :value="cert.id"
                                       x-model="selectedCerts"
                                />
                                <label class="form-check-label" x-text="`[${cert.id}] ${cert.description}`"></label>
                            </div>
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary"@click="showModal = false">Отмена</button>
                        <button type="button" class="btn btn-primary" @click="saveModal(modalAct)">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block my_java_script %}
{% endblock %}

