<!-- Входящий контекст my_obj-->
{% extends 'base.html'%}
{% block mycontent %}
    <div class="container">
        <h5 class="card-header">Объект {{ my_obj.address }} капитальный ремонт {{ my_obj.system_type }}</h5>
        <div class="card mb-4 ">
            <div class="card-header mb-1 font-weight-bold">
                Акты освидетельствования скрытых работ
            </div>
            <table class="table table-bordered ">
            <thead>
                <tr>
                  <th scope="col">№</th>
                  <th scope="col">Дата</th>
                  <th scope="col">Вид работ</th>
                  <th scope="col">Лежаки</th>
                  <th scope="col">Стояки</th>
                </tr>
            </thead>
            <tbody>
                {% for act in my_obj.acts.all %}
                    <tr>
                        <td>
                            {{ my_obj.acts_prefix }}-{{ act.act_number }}{{ act.act_suffix }}
                        </td>
                        <td class="text-nowrap">{{ act.act_date }}</td>
                        <td>{{ act.presented_work }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>

        {% include "hiddenactsbase/partials/additional_acts.html" %}

    </div>


{% endblock %}



