{% extends 'hiddenactsbase/base.html'%}
{% block mycontent %}
    <h5> Объект <span class="objwork">{{ myobj.address }} </span>капитальный ремонт <span class="objwork">{{ myobj.system_type }}</span></h5>
    <p>Проектант: <span class="objwork">{{ myobj.designer }}</span></p>
    <p>
        Технадзор с приказом: <span class="objwork">{{ myobj.supervisor_engineer_full }}</span>
    </p>
    <p>
        Прораб с приказом: <span class="objwork">{{ myobj.contractor_engineer_full }}</span>
    </p>
    <p>
        Технадзор краткий: <span class="objwork">{{ myobj.supervisor_engineer_short }}</span>
        Прораб краткий: <span class="objwork">{{ myobj.contractor_engineer_short }}</span>
    </p>
    <p>
        Номер проекта: <span class="objwork">{{ myobj.project_number }}</span>
        Исполнительная: <span class="objwork">{{ myobj.exec_documents }}</span>
    </p>
    <p>
        --------АКТЫ-----------------------------------------
    </p>


    {% for act in myobj.acts.all %}
    <p>
        Номер: <span class="objwork">{{ act.act_number }}</span>
        Дата: <span class="objwork">{{ act.act_date }}</span>
        От: <span class="objwork">{{ act.begin_date }}</span>
        До: <span class="objwork">{{ act.end_date }}</span>
    </p>
    <p>
        Материалы: <span class="objwork">{{ act.materials }}</span>
    </p>
    <p>
        <span class="objwork">{{ act.presented_work }}</span>
        -><span class="objwork">{{ act.permitted_work }}</span>
    </p>
    <p>
        ------------------------------------------------------
    </p>
    {% endfor %}



{% endblock %}



