<!-- Входящий контекст objects_acts -->
{% extends 'hiddenactsbase/base.html' %}
{% block mycontent %}
    <div class="container">
        <h5>Наборы актов скрытых работ</h5>
    </div>
    <div class="container">
    {% for obj in objects_acts %}
        <div class="card my-1">
          <div class="card-header py-0 ">
              <b>Объект</b> {{ obj.address }} <b>капитальный ремонт</b> {{ obj.system_type }}
          </div>
          <div class="card-body py-0">
            {% for act in  obj.acts.all %}
                <p class="card-text mb-0"> № {{ act.act_number }}, {{ act.presented_work }} -> {{ act.permitted_work }}</p>
            {% endfor %}
            <a href="{{ obj.get_absolute_url }}" class="btn btn-primary  my-1 py-0">Редактировать структуру</a>
            <a href="{{ obj.get_edit_url }}" class="btn btn-primary  my-1 py-0">Редактировать содержимое</a>
            <a href="{% url 'copy_object' obj.pk %}" class="btn btn-primary  my-1 py-0">Создать копию объекта</a>
            <a href="{% url 'delete_object' obj.pk %}" class="btn btn-primary  my-1 py-0">Удалить объект</a>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
