{% extends 'hiddenactsbase/base.html'%}
{% block mycontent %}
    <h2>Наборы актов скрытых работ</h2>
    {% for act_set in objects_acts %}
        <h5> <a href="{% url 'act_detail_url' pk=act_set.pk %}"> объект {{ act_set.address }} капитальный ремонт {{ act_set.system_type }}</a></h5>
        <ul class="acts">
            {% for act in  act_set.acts.all %}
                    <li> №{{ act.act_number }}, {{ act.presented_work }} -> {{ act.permitted_work }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
