<!-- Входящий контекст myobj-->
{% extends 'base.html'%}
{% block mycontent %}
    <div class="container">
        <h5>Наборы актов скрытых работ</h5>
    </div>
    <div class="container">
        <div class="card mb-1">
            <div class="card-header py-0">Объект {{ myobj.address }} капитальный ремонт {{ myobj.system_type }}</div>
            <div class="card-body py-0">
                <div class="card-text">
                    <div class="row">
                        <div class="col-md-2">Подрядчик:</div>
                        <div class="col-md-10">{{ myobj.contractor }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Реквизиты подрядчика:</div>
                        <div class="col-md-10">{{ myobj.contractor_requisite }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Проектант:</div>
                        <div class="col-md-10">{{ myobj.designer }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Технадзор:</div>
                        <div class="col-md-10">{{ myobj.supervisor_engineer }} ({{ myobj.supervisor_engineer_decree }})</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Прораб:</div>
                        <div class="col-md-10">{{ myobj.contractor_engineer }} ({{ myobj.contractor_engineer_decree }})</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Номер проекта:</div>
                        <div class="col-md-3">{{ myobj.project_number }}</div>
                        <div class="col-md-2">Исполнительная:</div>
                        <div class="col-md-5">{{ myobj.exec_documents }}</div>
                    </div>
                    <a href="{% url 'create_hidden_act_to_end' myobj.pk %}" class="btn btn-primary my-1 py-0">+Aкт скрытых</a>
                    <a href="{% url 'create_blow_down' myobj.pk %}" class="btn btn-primary my-1 py-0">+Aкт промывки</a>
                    <a href="{{ myobj.get_edit_url }}" class="btn btn-primary my-1 py-0">Редактировать содержимое актов объекта</a>
                    <a href="{% url 'make_word_file' myobj.pk %}" class="btn btn-primary my-1 py-0">Сформировать файл для печати</a>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header py-0">-------------------АКТЫ-------------------</div>
        </div>
        {% for act in myobj.acts.all %}
            <div class="card mb-1">
                <div class="card-body py-0">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-md-3">Номер:</div>
                            <div class="col-md-3">{{ act.act_number }}</div>
                            <div class="col-md-3">Дата:</div>
                            <div class="col-md-3">{{ act.act_date }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">От:</div>
                            <div class="col-md-3">{{ act.begin_date }}</div>
                            <div class="col-md-3">До:</div>
                            <div class="col-md-3">{{ act.end_date }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Материалы:</div>
                            <div class="col-md-10">{{ act.materials }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Предъявл.:</div>
                            <div class="col-md-10">{{ act.presented_work }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">Разрешено:</div>
                            <div class="col-md-10">{{ act.permitted_work }}</div>
                        </div>
                        <a href="{% url 'delete_hidden_act' myobj.pk act.pk %}" class="btn btn-primary my-1 py-0">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if myobj.blow_down_act %}
             <div class="card mb-1">
                <div class="card-header py-0">---------------ПРОМЫВКА-ПРОДУВКА----------</div>
            </div>
            <div class="card mb-1">
                <div class="card-body py-0">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-md-3">Номер:</div>
                            <div class="col-md-3">{{ myobj.blow_down_act.act_number }}</div>
                            <div class="col-md-3">Дата:</div>
                            <div class="col-md-3">{{ myobj.blow_down_act.act_date }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Трасса: </div>
                            <div class="col-md-9">{{ myobj.blow_down_act.trassa }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Длина: </div>
                            <div class="col-md-9">{{ myobj.blow_down_act.trassa_lenght }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Метод продувки: </div>
                            <div class="col-md-9">{{ myobj.blow_down_act.purge_method }}</div>
                        </div>
                        <a href="{% url 'delete_blow_down_act' myobj.pk %}" class="btn btn-primary my-1 py-0">Удалить</a>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>


{% endblock %}



