<!-- Входящий контекст object_form_set - верхушка формы, myobj - редактируемый объект, ha_form_set - набор форм для актов скрытых  -->
{% extends 'base.html' %}
{% block mycontent %}
    <div class="container mx-1">

        <h5> Редактирование </h5>
        <form action="{{ obj.get_edit_url }}" method ="post">

            {% csrf_token %}
            {{ object_form_set.management_form }}
            {% for form in object_form_set %}
                {{ form }}
            {% endfor %}
            {{ ha_form_set.management_form }}
            {% for form in ha_form_set %}
                {{ form }}
            {% endfor %}
            <div class="inline">
                <button type="submit" class="btn btn-primary my-1 py-0">Сохранить изменения</button>
                <a href="{% url 'objects_list_url' %}" class="btn btn-primary my-1 py-0">Вернуться в список</a>
                <a href="{{ myobj.get_absolute_url }}" class="btn btn-primary  my-1 py-0">Вернуться в структуру</a>
            </div>
        </form>
    </div>

{% endblock %}
