<!-- Входящий контекст myobj-->
{% extends 'hiddenactsbase/base.html'%}
{% block mycontent %}
    <div class="container">
        <h5> Объект {{ myobj.address }} капитальный ремонт {{ myobj.system_type }}</h5>
        <div class="row">
            <div class="col-md-2">Проектант:</div>
            <div class="col-md-10">{{ myobj.designer }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Технадзор:</div>
            <div class="col-md-10">{{ myobj.supervisor_engineer }} ({{ myobj.supervisor_engineer_decree }})</div>
        </div>
        <div class="row">
            <div class="col-md-2">Прораб:</div>
            <div class="col-md-10">{{ myobj.contractor_engineer }} ({{ myobj.contractor_engineer_decree }})</div>
        </div>
        <div class="row">
            <div class="col-md-2">Номер проекта:</div>
            <div class="col-md-3">{{ myobj.project_number }}</div>
            <div class="col-md-2">Исполнительная:</div>
            <div class="col-md-5">{{ myobj.exec_documents }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">----------------АКТЫ---------------------------</div>
        </div>
        {% for act in myobj.acts.all %}
           <div class="row">
                <div class="col-md-1">Номер:</div>
                <div class="col-md-1">{{ act.act_number }}</div>
                <div class="col-md-1">Дата:</div>
                <div class="col-md-2">{{ act.act_date }}</div>
                <div class="col-md-1">От:</div>
                <div class="col-md-2">{{ act.begin_date }}</div>
                <div class="col-md-1">До:</div>
                <div class="col-md-3">{{ act.end_date }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Материалы:</div>
                <div class="col-md-11">{{ act.materials }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Предъявл.:</div>
                <div class="col-md-11">{{ act.presented_work }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Разрешено:</div>
                <div class="col-md-11">{{ act.permitted_work }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">-----------------------------------------------------</div>
            </div>
        {% endfor %}
    </div>


{% endblock %}



