<!-- Входящий контекст object_form_set - верхушка формы, myobj - редактируемый объект,
ha_form_set - набор форм для актов скрытых, blow_down_act_form_set - акт промывки продувки
-->
{% extends 'base.html' %}
{% block mycontent %}
    <div class="container-fluid mx-1">

        <h5> Редактирование </h5>
        <form action="{{ obj.get_edit_url }}" method ="post">

            {% csrf_token %}
            {{ object_form_set.management_form }}
            {% for form in object_form_set %}
                {% if form.errors %}
                    <div class="alert alert-danger mb-0 py-0">Заполните все поля формы</div>
                {% endif %}
                <div class="card p-1 mb-1">
                    <div class="form-group row mb-1">
                        <div class="col-sm-1 col-form-label-sm">{{ form.address.label }}</div>
                        <div class="col-sm-5">{{ form.address }}</div>
                        <div class="col-sm-1 col-form-label-sm">{{ form.system_type.label }}</div>
                        <div class="col-sm-5">{{ form.system_type }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.contractor.label }}</div>
                        <div class="col-sm-10">{{ form.contractor }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.contractor_requisite.label }}</div>
                        <div class="col-sm-10">{{ form.contractor_requisite }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.designer.label }} <!--{{ form.designer.errors }}--></div>
                        <div class="col-sm-10">{{ form.designer }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.supervisor_engineer.label }}</div>
                        <div class="col-sm-4">{{ form.supervisor_engineer }}</div>
                        <div class="col-sm-2 col-form-label-sm">{{ form.supervisor_engineer_decree.label }}</div>
                        <div class="col-sm-4">{{ form.supervisor_engineer_decree }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.contractor_engineer.label }}</div>
                        <div class="col-sm-4">{{ form.contractor_engineer }}</div>
                        <div class="col-sm-2 col-form-label-sm">{{ form.contractor_engineer_decree.label }}</div>
                        <div class="col-sm-4">{{ form.contractor_engineer_decree }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.project_number.label }}</div>
                        <div class="col-sm-4">{{ form.project_number }}</div>
                        <div class="col-sm-2 col-form-label-sm">{{ form.exec_documents.label }}</div>
                        <div class="col-sm-4">{{ form.exec_documents }}</div>
                    </div>
                </div>
            {% endfor %}
            {{ ha_form_set.management_form }}
            {% for form in ha_form_set %}
                {% if form.errors %}
                    <div class="alert alert-danger mb-0 py-0">Заполните все поля формы</div>
                {% endif %}
                <div class="card p-1 mb-1">
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.act_number.label }}</div>
                        <div class="col-sm-4">{{ form.act_number }}</div>
                        <div class="col-sm-2 col-form-label-sm">{{ form.act_date.label }}</div>
                        <div class="col-sm-4">{{ form.act_date }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.begin_date.label }}</div>
                        <div class="col-sm-4">{{ form.begin_date }}</div>
                        <div class="col-sm-2 col-form-label-sm">{{ form.end_date.label }}</div>
                        <div class="col-sm-4">{{ form.end_date }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.materials.label }}</div>
                        <div class="col-sm-10">{{ form.materials }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.presented_work.label }}</div>
                        <div class="col-sm-10">{{ form.presented_work }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.permitted_work.label }}</div>
                        <div class="col-sm-10">{{ form.permitted_work }}</div>
                    </div>
                </div>
            {% endfor %}

            {{ blow_down_act_form_set.management_form }}

            {% for form in blow_down_act_form_set %}
                {% if form.errors %}
                    <div class="alert alert-danger mb-0 py-0">Заполните все поля формы</div>
                {% endif %}
                <div class="card p-1 mb-1">
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.act_number.label }}</div>
                        <div class="col-sm-4">{{ form.act_number }}</div>
                        <div class="col-sm-2 col-form-label-sm">{{ form.act_date.label }}</div>
                        <div class="col-sm-4">{{ form.act_date }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.trassa.label }}</div>
                        <div class="col-sm-10">{{ form.trassa }}</div>
                    </div>
                    <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.trassa_lenght.label }}</div>
                        <div class="col-sm-10">{{ form.trassa_lenght }}</div>
                    </div>
                     <div class="form-group row mb-1">
                        <div class="col-sm-2 col-form-label-sm">{{ form.purge_method.label }}</div>
                        <div class="col-sm-10">{{ form.purge_method }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="inline">
                <button type="submit" class="btn btn-primary my-1 py-0">Сохранить изменения</button>
                <a href="{% url 'objects_list_url' %}" class="btn btn-primary my-1 py-0">Вернуться в список</a>
                <a href="{{ myobj.get_absolute_url }}" class="btn btn-primary  my-1 py-0">Вернуться в структуру</a>
            </div>
        </form>
    </div>

{% endblock %}
