
i {
  margin-right: 10px;
}
nav.one {
  display: block;
  width: 1900px;
  margin-bottom: 10px;
}
.one ul {
  list-style: none;
  margin: 0 auto;
  padding: 1em 0;
  background: #ECDAD6;
}
.one a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
  padding: 1em;
  background: rgba(177, 152, 145, .3);
  border-right: 1px solid #b19891;
  color: #695753;
}
.one a:hover {background: #b19891;}
.one li {
  display: inline;
}

.acts li {
  margin: 0;
  font-size: 0.8em;
}

ul.acts {
  margin-bottom: 1px;
}

span.objwork {
  background: #ECDAD6;
}