<div class="card p-1 mb-1">
    <div class="card-header mb-1 font-weight-bold">
        Дополнительные акты
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Продувка</div>
        <div class="col-sm-1">
            <input type="checkbox" class="form-control-sm" x-model="my_object.is_washing_purging_act">
        </div>
        <div class="col-sm-1 col-form-label-sm">Номер</div>
        <div class="col-sm-1 col-form-label-sm" >
            <div x-text="`${my_object.acts_prefix}-`" class="text-end"></div>
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control form-control-sm" x-model="my_object.w_p_act_number">
        </div>
        <div class="col-sm-1 col-form-label-sm">Дата</div>
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" x-model="my_object.w_p_act_date">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Дезинфекция</div>
        <div class="col-sm-1">
            <input type="checkbox" class="form-control-sm" x-model="my_object.is_washing_disinfection_act">
        </div>
        <div class="col-sm-1 col-form-label-sm">Номер</div>
        <div class="col-sm-1 col-form-label-sm" >
            <div x-text="`${my_object.acts_prefix}-`" class="text-end"></div>
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control form-control-sm" x-model="my_object.w_d_act_number">
        </div>
        <div class="col-sm-1 col-form-label-sm">Дата</div>
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" x-model="my_object.w_d_act_date">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Анализ воды 1</div>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" x-model="my_object.w_d_disinfection_protocol_1">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Анализ воды 2</div>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" x-model="my_object.w_d_disinfection_protocol_2">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Гидравлика</div>
        <div class="col-sm-1">
            <input type="checkbox" class="form-control-sm" x-model="my_object.is_hydraulic_testing_act">
        </div>
        <div class="col-sm-1 col-form-label-sm">Номер</div>
        <div class="col-sm-1 col-form-label-sm" >
            <div x-text="`${my_object.acts_prefix}-`" class="text-end"></div>
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control form-control-sm" x-model="my_object.h_act_number">
        </div>
        <div class="col-sm-1 col-form-label-sm">Дата</div>
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" x-model="my_object.h_act_date">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Испыт. канализации</div>
        <div class="col-sm-1">
            <input type="checkbox" class="form-control-sm" x-model="my_object.is_sewer_testing_act">
        </div>
        <div class="col-sm-1 col-form-label-sm">Номер</div>
        <div class="col-sm-1 col-form-label-sm" >
            <div x-text="`${my_object.acts_prefix}-`" class="text-end"></div>
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control form-control-sm" x-model="my_object.s_t_act_number">
        </div>
        <div class="col-sm-1 col-form-label-sm">Дата</div>
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" x-model="my_object.s_t_act_date">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Балансировка</div>
        <div class="col-sm-1">
            <input type="checkbox" class="form-control-sm" x-model="my_object.is_adjusting_heating_act">
        </div>
        <div class="col-sm-1 col-form-label-sm">Номер</div>
        <div class="col-sm-1 col-form-label-sm" >
            <div x-text="`${my_object.acts_prefix}-`" class="text-end"></div>
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control form-control-sm" x-model="my_object.a_act_number">
        </div>
        <div class="col-sm-1 col-form-label-sm">Дата</div>
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" x-model="my_object.a_act_date">
        </div>
    </div>
</div>

