<div class="card p-1 mb-1">
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Адрес</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.address">
        </div>
        <div class="col-sm-2 col-form-label-sm">Тип</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.system_type">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Подрядчик</div>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" x-model="my_object.contractor">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Реквизиты подрядчика</div>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" x-model="my_object.contractor_requisite">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Договор</div>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" x-model="my_object.contract">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Проектант</div>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" x-model="my_object.designer">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Технадзор</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.supervisor_engineer">
        </div>
        <div class="col-sm-2 col-form-label-sm">Приказ технадзора</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.supervisor_engineer_decree">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Прораб</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.contractor_engineer">
        </div>
        <div class="col-sm-2 col-form-label-sm">Приказ прораба</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.contractor_engineer_decree">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Технадзор наш</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.contractor_supervisor">
        </div>
        <div class="col-sm-2 col-form-label-sm">Приказ технадз. наш</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.contractor_supervisor_decree">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Проектировщик</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.designer_engineer">
        </div>
        <div class="col-sm-2 col-form-label-sm">Приказ проектировщика</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.designer_engineer_decree">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">От УК</div>
        <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" x-model="my_object.service_engineer">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Ном. проекта</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.project_number">
        </div>
        <div class="col-sm-2 col-form-label-sm">Исполн.</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.exec_documents">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-2 col-form-label-sm">Кол-во экземпляров</div>
        <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" x-model="my_object.acts_instance_num">
        </div>
    </div>
</div>
