<!--Входящий контекст context
order_list
'Order_N' 'Contractor' 'Address' 'Work_Type'
'Begin_Date'  'End_Date'} или Error-->

{% extends 'base.html' %}
{% block mycontent %}
    <div class="container">
        <h5>Список открытых ордеров ГАТИ ООО "Интера" и ООО "Техолит"</h5>
        {% for order in order_list %}
            <div class="card mb-1">
                <div class="row">
                    <div class="col-xl-1"><strong>{{ forloop.counter }}</strong></div>
                    <div class="col-xl-2">Адрес:</div>
                    <div class="col-xl-9"><strong>{{ order.Address }}</strong></div>
                </div>
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-2">Подрядчик:</div>
                    <div class="col-xl-9">{{ order.Contractor }}</div>
                </div>
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-2">Ордер №:</div>
                    <div class="col-xl-9">{{ order.Order_N }}</div>
                </div>
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-2">Начало:</div>
                    <div class="col-xl-3">{{ order.Begin_Date }}</div>
                    <div class="col-xl-2">Конец:</div>
                    <div class="col-xl-4">{{ order.End_Date }}</div>
                </div>
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-2">Работы:</div>
                    <div class="col-xl-9">{{ order.Work_Type }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
