<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ act_form.system_genitive.label }}</div>
    <div class="col-xl-10">{{ act_form.system_genitive }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ act_form.summa.label }}</div>
    <div class="col-xl-4">{{ act_form.summa }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ act_form.volume.label }}</div>
    <div class="col-xl-4">{{ act_form.volume }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ act_form.act_number.label }}</div>
    <div class="col-xl-4">{{ act_form.act_number }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ act_form.act_date.label }}</div>
    <div class="col-xl-4">{{ act_form.act_date }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ act_form.begin_contract_date.label }}</div>
    <div class="col-xl-4">{{ act_form.begin_contract_date }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ act_form.end_contract_date.label }}</div>
    <div class="col-xl-4">{{ act_form.end_contract_date }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ act_form.begin_fact_date.label }}</div>
    <div class="col-xl-4">{{ act_form.begin_fact_date }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ act_form.telephonogramm_date.label }}</div>
    <div class="col-xl-4">{{ act_form.telephonogramm_date }}</div>
</div>