<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.address.label }}</div>
    <div class="col-xl-4">{{ my_form.address }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.district_prepositional.label }}</div>
    <div class="col-xl-4">{{ my_form.district_prepositional }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.contract_number.label }}</div>
    <div class="col-xl-4">{{ my_form.contract_number }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.contract_date.label }}</div>
    <div class="col-xl-4">{{ my_form.contract_date }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.contractor.label }}</div>
    <div class="col-xl-4">{{ my_form.contractor }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.contractor_OKPO.label }}</div>
    <div class="col-xl-4">{{ my_form.contractor_OKPO }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.contractor_address.label }}</div>
    <div class="col-xl-10">{{ my_form.contractor_address }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.contractor_delegate.label }}</div>
    <div class="col-xl-4">{{ my_form.contractor_delegate }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.contractor_delegate_genitive.label }}</div>
    <div class="col-xl-4">{{ my_form.contractor_delegate_genitive }}</div>
</div>
 <div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.UK_full.label }}</div>
    <div class="col-xl-10">{{ my_form.UK_full }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.UK_delegate.label }}</div>
    <div class="col-xl-4">{{ my_form.UK_delegate }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.UK_delegate_genitive.label }}</div>
    <div class="col-xl-4">{{ my_form.UK_delegate_genitive }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.UK_position_genitive.label }}</div>
    <div class="col-xl-4">{{ my_form.UK_position_genitive }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.UK_decree_genitive.label }}</div>
    <div class="col-xl-4">{{ my_form.UK_decree_genitive }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.supervisor_OSK_number.label }}</div>
    <div class="col-xl-2">{{ my_form.supervisor_OSK_number }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.supervisor_delegate.label }}</div>
    <div class="col-xl-4">{{ my_form.supervisor_delegate }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.supervisor_delegate_genitive.label }}</div>
    <div class="col-xl-4">{{ my_form.supervisor_delegate_genitive }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.supervisor_decree_genitive.label }}</div>
    <div class="col-xl-4">{{ my_form.supervisor_decree_genitive }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.supervisor_decree_dative.label }}</div>
    <div class="col-xl-4">{{ my_form.supervisor_decree_dative }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.administration_order.label }}</div>
    <div class="col-xl-10">{{ my_form.administration_order }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.owner_delegate.label }}</div>
    <div class="col-xl-4">{{ my_form.owner_delegate }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.owner_delegate_genitive.label }}</div>
    <div class="col-xl-4">{{ my_form.owner_delegate_genitive }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.owner_delegate_position.label }}</div>
    <div class="col-xl-10">{{ my_form.owner_delegate_position }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.owner_delegate_decree.label }}</div>
    <div class="col-xl-4">{{ my_form.owner_delegate_decree }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.owner_delegate_decree_genitive.label }}</div>
    <div class="col-xl-4">{{ my_form.owner_delegate_decree_genitive }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.administration_delegate_position.label }}</div>
    <div class="col-xl-10">{{ my_form.administration_delegate_position }}</div>
</div>
<div class="form-group row mb-1">
    <div class="col-xl-2 col-form-label-sm">{{ my_form.administration_delegate_decree.label }}</div>
    <div class="col-xl-4">{{ my_form.administration_delegate_decree }}</div>
    <div class="col-xl-2 col-form-label-sm">{{ my_form.administration_delegate.label }}</div>
    <div class="col-xl-4">{{ my_form.administration_delegate }}</div>
</div>