<!-- Входящий контекст objects -->
{% extends 'base.html' %}
{% block mycontent %}
    <div class="container">
        <h5>Список объектов и видов работ</h5>
    </div>
    <div class="container">
    {% for obj in objects %}
        <div class="card my-1">
            <div class="card-header py-0 ">
                <p class="my-0"><b>Объект </b> {{ obj.address }} <b>Подрядчик </b> {{ obj.contractor }} <b>Договор </b> {{ obj.contract_number }}</p>
                    <a href="{% url 'ks14_object_detail_url' obj.pk %}" class="btn btn-primary my-1 py-0">Смотреть</a>
                    <a href="{% url 'ks14_object_edit_structure_url' obj.pk %}" class="btn btn-primary my-1 py-0">Структура</a>
                    <a href="{% url 'ks14_object_edit_url' obj.pk %}" class="btn btn-primary  my-1 py-0">Редактировать<f/a>
                    <a href="{% url 'ks14_copy_url' obj.pk %}" class="btn btn-primary  my-1 py-0">+ копия</a>
                    <a href="{% url 'ks14_delete_url' obj.pk %}" class="btn btn-primary  my-1 py-0">Удалить</a>
            </div>
            <ul class="list-group list-group-flush">
            {% for act in obj.acts.all %}
                <li class="list-group-item py-0">
                    <p class="my-0">Кап ремонт {{ act.system_genitive }}</p>
                    <a href="{% url 'make_ks14_docx' obj.pk act.pk %}" class="btn btn-primary  my-1 py-0">-> КС14</a>
                    <a href="{% url 'make_ks3_xlsx' obj.pk act.pk %}" class="btn btn-primary  my-1 py-0">-> КС3</a>
                    <a href="{% url 'make_ks2_xlsx' obj.pk act.pk %}" class="btn btn-primary  my-1 py-0">-> КС2</a>
                    <a href="{% url 'make_peresort' obj.pk act.pk %}" class="btn btn-primary  my-1 py-0">-> Акт пересорта</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}