<!-- Входящий контекст my_obj-->
{% extends 'base.html'%}
{% block mycontent %}

<div class="container">
    <h5>Редактирование структуры объекта</h5>
    <div class="card mb-1">
        <div class="card-header py-0">
            Объект по адресу {{ my_obj.address }} в {{ my_obj.district_prepositional }} районе
        </div>
        <div class="card-body py-0">
        <p class="card-text my-0">Договор № {{ my_obj.contract_number }} от {{ my_obj.contract_date }}</p>
        <a href="{% url 'insert_act_url' my_obj.pk %}" class="btn btn-primary my-1 py-0">Добавить акт в конец</a>
        <a href="{{ my_obj.get_edit_url }}" class="btn btn-primary my-1 py-0">Редактировать содердимое объекта и актов</a>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-header py-0">
            -------------------АКТЫ-------------------
        </div>
    </div>
    {% for act in my_obj.acts.all %}
    <div class="card mb-1 mb-1">
        <div class="card-body py-0">
        <p class="card-text my-0">Капитальный ремонт  {{ act.system_genitive }}. Номер {{ act.act_number }} от {{ act.act_date }}. Сумма {{ act.summa }}</p>
        <a href="{% url 'delete_act_url' my_obj.pk act.pk %}" class="btn btn-primary my-1 py-0">Удалить</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
