<!-- Входящий контекст my_objyect-->
{% extends 'base.html'%}
{% block mycontent %}
{% load filters %}
    <div class="container-fluid px-4">
        <h5>
            KC14, КС3 по объекту
            <a href="{% url 'ks14_object_edit_url' my_object.pk %}" class="btn btn-primary  my-1 py-0">Редактировать</a>
            <a href="{% url 'ks14_copy_url' my_object.pk %}" class="btn btn-primary  my-1 py-0">+ копия</a>
            <a href="{% url 'ks14_delete_url' my_object.pk %}" class="btn btn-primary  my-1 py-0">Удалить</a>
            <a href="{% url 'ks14_list_url' %}" class="btn btn-primary  my-1 py-0">Выйти</a>
        </h5>
        <div class="row">
            <div class="col-md-12"><b>Объект: </b>{{ my_object.address }}
                                          <b>Капитальный ремонт: </b>{{ my_object.system_genitive }}
                                          <b>Подрядчик: </b>{{ my_object.contractor }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'district_prepositional' }}</div>
            <div class="col-md-3">{{ my_object.district_prepositional }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'act_number' }}</div>
            <div class="col-md-3">{{ my_object.act_number }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'contract_number' }}</div>
            <div class="col-md-3">{{ my_object.contract_number }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'contract_date' }}</div>
            <div class="col-md-3">{{ my_object.contract_date }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'telephonogramm_date' }}</div>
            <div class="col-md-3">{{ my_object.telephonogramm_date }}</div>
        </div>
         <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'begin_contract_date' }}</div>
            <div class="col-md-3">{{ my_object.begin_contract_date }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'end_contract_date' }}</div>
            <div class="col-md-3">{{ my_object.end_contract_date }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'begin_fact_date' }}</div>
            <div class="col-md-3">{{ my_object.begin_fact_date }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'begin_contract_date' }}</div>
            <div class="col-md-3">{{ my_object.act_date }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'summa' }}</div>
            <div class="col-md-3">{{ my_object.summa }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'volume' }}</div>
            <div class="col-md-3">{{ my_object.volume }}</div>
        </div>


        <h6 class="mb-0">Подрядчик</h6>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'contractor_address' }}</div>
            <div class="col-md-9">{{ my_object.contractor_address }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'contractor_OKPO' }}</div>
            <div class="col-md-9">{{ my_object.contractor_OKPO }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'contractor_delegate_genitive' }}</div>
            <div class="col-md-3">{{ my_object.contractor_delegate_genitive }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'contractor_delegate' }}</div>
            <div class="col-md-3">{{ my_object.contractor_delegate }}</div>
        </div>
        <h6 class="mb-0">Управляющая кампания</h6>
         <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'UK_full' }}</div>
            <div class="col-md-9">{{ my_object.UK_full }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'UK_delegate_genitive' }}</div>
            <div class="col-md-3">{{ my_object.UK_delegate_genitive }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'UK_delegate' }}</div>
            <div class="col-md-3">{{ my_object.UK_delegate }}</div>
         </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'UK_position_genitive' }}</div>
            <div class="col-md-3">{{ my_object.UK_position_genitive }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'UK_decree_genitive' }}</div>
            <div class="col-md-3">{{ my_object.UK_decree_genitive }}</div>
        </div>
        <h6 class="mb-0">Технадзор заказчика</h6>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'supervisor_delegate_genitive' }}</div>
            <div class="col-md-3">{{ my_object.supervisor_delegate_genitive }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'supervisor_delegate' }}</div>
            <div class="col-md-3">{{ my_object.supervisor_delegate }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'supervisor_OSK_number' }}</div>
            <div class="col-md-3">{{ my_object.supervisor_OSK_number }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'supervisor_decree_genitive' }}</div>
            <div class="col-md-3">{{ my_object.supervisor_decree_genitive }}</div>
        </div>
         <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'supervisor_decree_dative' }}</div>
            <div class="col-md-9">{{ my_object.supervisor_decree_dative }}</div>
        </div>
        <h6 class="mb-0">Собсвтенники или распоряжение администрации</h6>
        {% if my_object.administration_order %}
            <div class="row">
                <div class="col-md-3">{{ my_object|verbose_name:'administration_order' }}</div>
                <div class="col-md-9">{{ my_object.administration_order }}</div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-3">{{ my_object|verbose_name:'owner_delegate_position' }}</div>
                <div class="col-md-9">{{ my_object.owner_delegate_position }}</div>
            </div>
            <div class="row">
                <div class="col-md-3">{{ my_object|verbose_name:'owner_delegate' }}</div>
                <div class="col-md-3">{{ my_object.owner_delegate }}</div>
                <div class="col-md-3">{{ my_object|verbose_name:'owner_delegate_genitive' }}</div>
                <div class="col-md-3">{{ my_object.owner_delegate_genitive }}</div>
            </div>
            <div class="row">
                <div class="col-md-3">{{ my_object|verbose_name:'owner_delegate_decree' }}</div>
                <div class="col-md-3">{{ my_object.owner_delegate_decree }}</div>
                <div class="col-md-3">{{ my_object|verbose_name:'owner_delegate_decree_genitive' }}</div>
                <div class="col-md-3">{{ my_object.owner_delegate_decree_genitive }}</div>
            </div>
        {% endif %}
        <h6 class="mb-0">Администрация</h6>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'administration_delegate_position' }}</div>
            <div class="col-md-9">{{ my_object.administration_delegate_position }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ my_object|verbose_name:'administration_delegate_decree' }}</div>
            <div class="col-md-3">{{ my_object.administration_delegate_decree }}</div>
            <div class="col-md-3">{{ my_object|verbose_name:'administration_delegate' }}</div>
            <div class="col-md-3">{{ my_object.administration_delegate }}</div>

        </div>
    </div>
{% endblock %}



