<!-- context = {'my_obj' : my_obj,
               'object_common_form_set' : object_common_form_set,
               'act_specific_form_set' : act_specific_form_set})-->
{% extends 'base.html'%}
{% block mycontent %}
    <div class="container-fluid mx-1">

         <h5> Редактирование Адреса {{ my_obj.address }}</h5>

            <form action="{{ my_obj.get_edit_url }}" method ="post">
                {% csrf_token %}
                {{ object_common_form_set.management_form }}
                {% for my_form in object_common_form_set %}
                    {% if my_form.errors %}
                        <div class="alert alert-danger mb-0 py-0">Заполните все поля формы</div>
                    {% endif %}
                    {% include "ks14base/common_object_fields.html" %}
                {% endfor %}
                {{ act_specific_form_set.management_form }}
                {% for act_form in act_specific_form_set %}
                    <h5>Редактирование акта</h5>
                    {% include "ks14base/act_specific_fields.html" %}
                {% endfor %}
                <button type="submit" class="btn btn-primary my-3">Сохранить изменения</button>
                <a href="{% url 'ks14_list_url' %}" class="btn btn-primary my-3">Выйти в список</a>
                <a href="{% url 'ks14_object_edit_structure_url' my_obj.pk %}" class="btn btn-primary my-3">Выйти в структуру</a>
            </form>
    </div>
{% endblock %}



