<!-- Входящий контекст 'my_obj' : my_obj, 'my_form' : my_form-->
{% extends 'base.html'%}
{% block mycontent %}
    <div class="container mx-1">

         <h5> Редактирование Адреса {{ my_obj.address }}</h5>

            <form action="{{ my_obj.get_edit_url }}" method ="post">
                {% csrf_token %}
                {% if my_form.errors %}
                    <div class="alert alert-danger mb-0 py-0">Заполните все поля формы</div>
                {% endif %}
                {% include "ks14base/common_object_fields.html" %}
                <button type="submit" class="btn btn-primary my-3">Сохранить изменения</button>
            </form>
    </div>
{% endblock %}



